@import '../../variables.scss';

.row-search-bar-background-color {
    background-color: $brandyellow;
    width: 100%;
    min-height: 50px;
}

.search-bar_content-container {
    margin-top: 5px;
}